
@import url('https://fonts.googleapis.com/css?family=Cormorant+Unicase:500');
form{
    margin: o auto;
    width: auto;
    padding: .45rm;

    font-family: 'Cormorant Unicase', serif;
 
    border: 1px dotted purple;
    border-radius: 0;

}
