@import url('https://fonts.googleapis.com/css?family=Mukta+Vaani');

body {
    background-color: rgba(173, 219, 230, 0.233);
    font-family: 'Mukta Vaani', sans-serif;
}

div {
    margin: 1rem 0;
}
.img-circle {
    border-radius: 50%;
}

footer{
    clear: both;
    background-color:palegoldenrod;
}